
<h1>About this Site</h1>
<p>Designed by Bradley Froese</p>
<p>This site uses data from mtgjson.com loaded into a local database.
The data is kept in five tables: Cards, Expansions, Artists, Types, and Images.
Cards is the largest table, with columns for all of the characteristics of a card,
such as type, color, expansion, artist, mana cost, and image path.
The other tables are a lot smaller, the Expansion table with a name, code, and release date;
Artists has only a name, Types has a name and category, and Images has an image name and its path.</p>